{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}
{% load humanize %}


{#--- SCRIPTS --------------------------------------------------------------------------------------------------------#}

{% block scripts %}
    <script>
        $(".openpanel1").on("click", function() {
            $("#collapseOne").collapse('show');
        });
        $(".openpanel2").on("click", function() {
            $("#collapseTwo").collapse('show');
        });
        $(".openpanel3").on("click", function() {
            $("#collapseThree").collapse('show');
        });
        $(".closepanel").on("click", function() {
            $("#panel3").collapse('hide');
        });

        /* ensure any open panels are closed before showing selected */
        $('#accordion').on('show.bs.collapse', function () {
            $('#accordion .in').collapse('hide');
        });
    </script>
{% endblock %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Instructions - Stage 1" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div id="accordion">

        <div class="card card-transparent">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p align="justify">
                        {% blocktrans trimmed %}
                            Your task in Stage 1 is to correctly solve as many addition exercises as possible. To be
                            more precise, you will have 3 minutes’ time in order to solve as many additions of five
                            randomly selected two-digit numbers as possible, by entering the sum of the five numbers.
                            You are not allowed to use calculators. You enter an answer by clicking with the
                            mouse on the "Confirm" button. When you enter an answer, you immediately find out on the
                            screen whether it was correct or not.
                        {% endblocktrans %}
                    </p>
                    <div style="text-align: right; padding-top: 5pt">
                        <button type="button" class="btn btn-primary openpanel2">
                            {% trans "Next" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-transparent">
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p align="center">
                        <b>{% trans "Payment" %}</b>
                    </p>
                    <p align="justify">
                        {% blocktrans trimmed %}
                            If Stage 1 is the stage selected for payment (in Part 1), then you will receive <b>€0.50
                            (i.e., 50 cent) for each correct answer</b> that you entered within the 3 minutes.
                            Your payment is not reduced when you enter a wrong answer. From now on, we call this method
                            of payment the <i>Piece-rate payment</i>.
                        {% endblocktrans %}
                    </p>
                    <hr>
                    <p align="center">
                        <b>{% trans "Trial round" %}</b>
                    </p>
                    <p align="justify">
                        {% blocktrans trimmed %}
                            Directly before the start of this stage you will be given one minute in order to familiarize
                            yourselves with the screen: During this time you can solve addition exercises, which do not
                            count for the experiment. Afterwards, Stage 1 will begin.
                        {% endblocktrans %}
                    </p>
                    <div style="text-align: right; padding-top: 5pt">
                        <button class="btn btn-primary">
                            {% trans "Start Part 1" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
